/* Write your CSS here */

.bg-container {
  background-color: #ffffffff;
  background-size: cover;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.heading {
  color: #0f172a;
  font-weight: bold;
  font-family: Roboto;
  margin-top: 35px;
  font-size: 40px;
}

.search-box {
  background-color: #f1f5f9;
  outline: none;
  border-width: 0;
  width: 210px;
  height: 40px;
  font-family: 'Roboto';
  padding: 20px;
  border-radius: 5px;
}

.search-icon {
  height: 25px;
}

.search-container {
  display: flex;

  background-color: #f1f5f9;
  width: 250px;
  align-items: center;
  text-align: center;
  border-radius: 5px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.places-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px;
}
